export(inference.Ecar, phys2eventtime, remap.cumsum, remap.cumprod, remap.event.reindex, ees, eesPlot)
export(marketResidual,
       excessReturn
       )
export(AMM,
       onefirmAMM,
       manyfirmsAMM,
       firmExposures,
       makeX)
